---
layout: default
title: Main Page
---
<link rel="stylesheet" href="/css/general.css">

  {% include header.html %}

  {% include nav.html %}

<div class="content" id="pageContent">

  {% include aboutme.html %}

  {% include education.html %}

  {% include work.html %}

  {% include skills.html %}

  {% include contact.html %}

  {% include footer.html %}

</div>

<!-- js here so that I know that all the items have been initialised -->

<script type="text/javascript" src="/js/navbar.js"></script>
