---
layout: default
title: Main Page
---
<script src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/general.js"></script>

<link rel="stylesheet" href="/css/general.css">

<title>Stavrakakis Dimitrios</title>
<link rel="icon" href="/assets/favicon_io/favicon.ico">

  {% include header.html %}

  {% include nav.html %}

<div class="content" id="pageContent">

  {% include aboutme.html %}

  {% include work.html %}

  {% include education.html %}

  {% include skills.html %}

  {% include contact.html %}

  {% include footer.html %}

</div>
