<link rel="stylesheet" href="/css/aboutme.css">
<div id="aboutme">
  <div class="row">
    <div class="column left">
      <div class="mediaLinksContainer">
        <a href="https://www.linkedin.com/in/dimitriosstavrakakis/" class="mediaLink">
          <img alt="LinkedIn" src="/assets/PlatformImages/linkedin.svg" class="mediaImage">
        </a>
        <a href="https://www.xing.com/profile/DIMITRIOS_STAVRAKAKIS" class="mediaLink">
          <img alt="XING" src="/assets/PlatformImages/xing.svg" class="mediaImage">
        </a>
        <a href="https://github.com/dimstav23" class="mediaLink">
          <img alt="Github" src="/assets/PlatformImages/github.svg" class="mediaImage">
        </a>
        <a href="mailto:dimitrios.stavrakakis@yandex.com" class="mediaLink">
          <img alt="Mail" src="/assets/PlatformImages/mail.svg" class="mediaImage">
        </a>
      </div>
      <div class="container">
        <img class="selfImage" src="/assets/barcelona.jpg" alt="image not found"/>
        <!--
        <div class="middle">
          <div class="text"><a target="_blank" href="/Documents/CV-DimitriosStavrakakis.pdf">CV</a></div>
        </div>
        -->
      </div>
      <div class="personalInfo">
        <p class="name">Stavrakakis Dimitrios</p>
        <p class="currentPlacement">Software Engineer</p>
      </div>
      <div class="CVContainer">
        <button class="CVButton" onClick="window.open('/Documents/CV.pdf'); return true;">CV</button>
      </div>
    </div>
    <div class="column right">
      <h3 align="center">About me</h3>
      <p>
        I am a recent graduate at the field of Electrical and Computer Engineering.
        I graduated from National Technical University of Athens holding a 5 years’ degree followed by a 6 months‘
        diploma thesis (Master in Engineering, MEng). My diploma thesis was about algorithms for
        task-applications offloading in a two-tiered cloud computing environment.
        <br>During my studies I have gained a very strong background in computer science
        and software engineering which helped me to successfully complete numerous academic projects.
      </p>
    </div>
  </div>
</div>
