<link rel="stylesheet" href="/css/aboutme.css">
<div id="aboutme">
  <div class="row">
    <div class="column left">
      <div class="mediaLinksContainer">
        <a href="https://www.linkedin.com/in/dimitriosstavrakakis/" target="_blank" class="mediaLink">
          <img alt="LinkedIn" src="/assets/PlatformImages/linkedin.svg" class="mediaImage">
        </a>
        <a href="https://www.xing.com/profile/DIMITRIOS_STAVRAKAKIS" target="_blank" class="mediaLink">
          <img alt="XING" src="/assets/PlatformImages/xing.svg" class="mediaImage">
        </a>
        <a href="https://github.com/dimstav23" target="_blank" class="mediaLink">
          <img alt="Github" src="/assets/PlatformImages/github.svg" class="mediaImage">
        </a>
        <a href="mailto:dimitrios.stavrakakis@hotmail.com" target="_blank" class="mediaLink">
          <img alt="Mail" src="/assets/PlatformImages/mail.svg" class="mediaImage">
        </a>
      </div>
      <div class="container">
        <img class="selfImage" src="/assets/barcelona.jpg" alt="image not found"/>
        <!--
        <div class="middle">
          <div class="text"><a target="_blank" href="/Documents/CV-DimitriosStavrakakis.pdf">CV</a></div>
        </div>
        -->
      </div>
      <div class="personalInfo">
        <p class="name">Stavrakakis Dimitrios</p>
        <p class="currentPlacement">Software Engineer</p>
      </div>
      <div class="CVContainer">
        <button class="CVButton" onClick="window.open('/Documents/CV.pdf'); return true;">CV</button>
      </div>
    </div>
    <div class="column right">
      <h3 align="center">About me</h3>
      <p>
        I am currently a <b>PhD candidate</b> at the <a href="https://www.ed.ac.uk/" target="_blank" class="aboutMeLinks" style="color:black"">University of Edinburgh</a> 
        and <b>visiting PhD student</b> at 
        <a href="https://www.tum.de/" target="_blank" class="aboutMeLinks" style="color:black">Technical University of Munich</a> 
        under the supervision of <u>Prof. Pramod Bhatotia</u>. My research interest lies in the field of <i>computer system design</i> 
        aiming mainly to build secure and reliable systems incorporating the now-emerging 
        <a href="https://www.snia.org/education/what-is-persistent-memory" target="_blank" style="color:black">Persistent Memory</a>
         Technology and leveraging modern Trusted Hardware Modules such as Intel SGX.
        <br>
        <br>
        Before joining University of Edinburgh, I was working at
        <a href="https://www.akka-technologies.com/" alt="AKKA" target="_blank" class="aboutMeLinks" style="color:black"><u>AKKA DNO GmbH</u></a>,
        as a <b>Software Engineer Consultant</b>.
        My main responsibilities in this position were related to the development of HMI Applications and Embedded C code
        development/analysis in the automotive sector.
        <br>
        <br>
        Regarding my educational background, I completed my studies in 
        <a href="https://www.ntua.gr/en/" target="_blank" class="aboutMeLinks" style="color:black">National Technical University of Athens</a>
        holding a 5 years’ degree followed by a 6 months‘
        diploma thesis (<b>Master in Engineering, MEng</b>). My diploma thesis was about algorithms for
        task-applications offloading in a two-tiered cloud computing environment.
        During my studies I have gained a very strong background in <b>computer science</b>
        and <b>software engineering</b> which helped me to successfully complete numerous academic projects.
        I also gained experience as a <b>Backend Database Developer</b> at
        <a href="https://www.travelsoft.gr/" alt="AKKA" target="_blank" class="aboutMeLinks" style="color:black"><u>Travelosoft Ltd.</u></a>,
        a company which produces software related to travel management.
        <br>
        <br>
        When it comes to me as a person, I am really keen on travelling. I love discovering the beauties of the world.
        I, also, never say "no" to a good movie or a nice concert. Apart from those, I enjoy watching football,
        trying different tastes from all over the globe and keeping myself up-to-date with state-of-art technology gadgets.
        <br>
        <br>
        If you would like to know more about me, have a look at my
        <a href="/Documents/CV.pdf" alt="CV" target="_blank" class="aboutMeLinks"><b>CV</b></a> or
        <a href="#contact" class="aboutMeLinks"><b>get in touch</b></a> with me.
      </p>
    </div>
  </div>
</div>
