<link rel="stylesheet" href="/css/footer.css">
{% comment %} <h4 class="footer">
  Oh.. Did you reach that far...?
  <br> Here is a cookie...
  <br><img src="/assets/cookie.png" alt="Cookie" width="100" height="100" align="center"/>
</h4> {% endcomment %}
<div class="endSection">
  <div class="footerMediaLinksContainer">
    <a href="https://www.linkedin.com/in/dimitriosstavrakakis/" class="mediaLink">
      <img alt="LinkedIn" src="/assets/PlatformImages/linkedin.svg" class="footerMediaImage">
    </a>
    <a href="https://www.xing.com/profile/DIMITRIOS_STAVRAKAKIS" class="mediaLink">
      <img alt="XING" src="/assets/PlatformImages/xing.svg" class="footerMediaImage">
    </a>
    <a href="https://github.com/dimstav23" class="mediaLink">
      <img alt="Github" src="/assets/PlatformImages/github.svg" class="footerMediaImage">
    </a>
    <a href="mailto:dimitrios.stavrakakis@tum.com" class="mediaLink">
      <img alt="Mail" src="/assets/PlatformImages/mail.svg" class="footerMediaImage">
    </a>
  </div>
  <div class="copyRight">
    &copy; 2021 Dimitrios Stavrakakis
  </div>
</div>
