<link rel="stylesheet" href="/css/work.css">
<div id="professionalexperience">
  <h3 class="workHeader">Professional Experience</h3>
  <div class="containerTimeline">
     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>September 2018 - September 2019</h3>
           <span>Software Egineer @ AKKA Technologies / AKKA DNO GmbH</span><br>
           <div class="clearfixCompany">
             <img src="/assets/Work/akka.png" alt="AKKA" class="companyLogo"/>
             <div class="listBox">
               <ol class="imageList">
                <li>HMI Application Development in Qt Framework using C++/QML</li>
                <li>Embedded C Code Analysis/Review/Restructuring</li>
                <li>Embedded C Code Development in Automotive Sector</li>
                <li>WPF Application Development</li>
               </ol>
             </div>
           </div>
         </div>
     </div>
     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>March 2016 - March 2018</h3>
           <span>Backend Database Developer @ Travelsoft Ltd.</span><br>
           <div class="clearfixCompany">
             <img src="/assets/Work/travelsoft.jpeg" alt="Travelsoft Ltd" class="companyLogo"/>
             <div class="listBox">
               <ol class="imageList">
                <li>T-SQL Query Optimization</li>
                <li>Database Design</li>
                <li>API Integration</li>
                <li>Development of Automated Processes</li>
               </ol>
             </div>
           </div>
         </div>
     </div>
  </div>
</div>
